html, body {
    background-color: #d7c797
}

.wbox {
    margin: 50px;
    padding: 50px;
    border-radius: 15px;

}

.good {background-color: #368d33;}
.moderate {background-color: #FFFF00;}
.usg {background-color: #FF9900;}
.unhealthy {background-color: #FF0000 ;}
.veryunhealthy {background-color: #990066;}
.hazardous {background-color: #660000;}
.error {background-color: #d29958;}


