{% extends 'base.html' %}
{% block content %}

{% if zipcode %}
    {{ zipcode }}
{% endif %}
{% if api %}
    {% if api == 'Error...' %}
        <div class="wbox mb-2 {{ category_color }}">
            <h1 class="display-4">Error...</h1>
            <p class=" lead ">{{ category_description }}</p>
        </div>
    {% else %}
         <div class="wbox mb-2 {{ category_color }}">
            <h1 class="display-4">{{ api.0.Category.Name }}</h1>
            <p class=" lead ">Current Air Quality in {{ api.0.ReportingArea }} : <b>{{ api.0.AQI }}</b></p>
            <p>{{ category_description }}</p>
        </div>
    {% endif %}
{% endif %}

{% endblock %}


